<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}}

    <footer class="fixed-bottom">
		<h5 class="text-white">Copyright 2020 by Andrew Moses</h5>
	</footer>
</body>
</html>