<div class="container content-container">
    <div class="row jumbo-nav-row">
        <div class="col-md-8">
            <div class="jumbotron bg-dark shadow">
                <h1 class="display-3" style="color: #ececec;">Hello<span style="color: #c095e9;"> World!</span></h1>
                <hr class="my-4">
                <h5 style="color: #ececec;">My name is Andrew Moses. I'm a Full-Stack Web Developer, Team Leader for
                    DevCore, and author. </h5>
                <h5 style="color: #ececec;">Curious about coding projects I'm working on, or interested in contacting
                    me? Just follow the big purple Navigation buttons. Interested in my social media or my writing? Just
                    follow the links at the bottom of each page. Thanks for stopping by! </h5>
            </div>
        </div>

        <div class="col-md-4 btn-col">
            <div class="btn-group-vertical">
                <div class="navigation-headline">
                    <h3 class="text-dark"><span style="color: #7332af;">Nav</span>igation</h3>
                </div>
                <a href="/portfolio"><button type="button"
                        class="btn btn-sm shadow btn-portfolio">Portfolio</button></a>
                <a href="/contact"><button type="button"
                        class="btn btn-sm shadow btn-contact-aboutpg">Contact</button></a>
                <a href=""><button type="button"
                        class="btn btn-sm shadow btn-resume">Resume</button></a>
            </div>
        </div>
    </div>

    {{!-- Need to add resume on this page --}}

    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-mongodb-plain-wordmark colored"></i>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href=""> <i class="devicon devicon-sequelize-plain-wordmark colored"></i>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href=""><i class="devicon devicon-slack-plain-wordmark colored"></i></a>

                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href=""> <i class="devicon devicon-npm-original-wordmark colored"></i>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-nodejs-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-mysql-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-jquery-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-javascript-plain colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-html5-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-heroku-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-handlebars-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-git-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-express-original colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-css3-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-chrome-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-bootstrap-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-travis-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img-container-icon">
                            <a href="">
                                <i class="devicon devicon-visualstudio-plain-wordmark colored"></i>

                            </a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>





    <div class="row fab-row d-flex justify-content-center">
        <div class="">
            <a href="https://github.com/andrewmosesdrive" target="_blank" rel="noreferrer"
                aria-label="Link to my github page"><i class="fab fa-github fa-3x"></i></a>
        </div>
        <div class="">
            <a href="https://www.linkedin.com/in/andrewjmoses/" target="_blank" rel="noreferrer"
                aria-label="Link to my linkedin page"><i class="fab fa-linkedin-in fa-3x"></i></a>
        </div>
        <div class="">
            <a href="https://www.instagram.com/amwriteswords/" target="_blank" rel="noreferrer"
                aria-label="Link to my instagram page"><i class="fab fa-instagram fa-3x text-dark"></i></a>
        </div>
        <div class="">
            <a href="https://www.amazon.com/All-Things-Never-Had-Guts-ebook/dp/B0852XZFQN" target="_blank"
                rel="noreferrer" aria-label="Link to my amazon product page"><i
                    class="fab fa-amazon fa-3x text-dark"></i></a>
        </div>
    </div>
</div>