body {
  background: -webkit-linear-gradient(
    to bottom left,
    #c7aee4,
    #ececec,
    #c7aee4
  );
  background: linear-gradient(to bottom left, #c7aee4, #ececec, #c7aee4);
  display: flex;
  flex-direction: column;
}

.content-container {
  width: auto;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #ececec;
}

.jumbo-nav-row {
  margin-top: 50px;
  margin-bottom: 47px;
}

.jumbotron {
  animation-duration: 1s;
  animation-name: slidein-to-left;
}

@keyframes slidein-to-left {
  from {
    margin-left: 400%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.navigation-headline {
  margin-bottom: 18px;
  animation-duration: 1.33s;
  animation-name: slidein-to-left;
}

.btn-group-vertical {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-contact {
    background-color: #7332af;
    color: white;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
    margin: 18px;
    animation-duration: 1.66s;
    animation-name: slidein-to-left;
  }

.btn-about {
  background-color: #7332af;
  color: white;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  margin: 18px;
  animation-duration: 2.33s;
  animation-name: slidein-to-left;
}

.btn:hover {
  transform-origin: center;
  transform: scale(1.3);
  transition: 0.3s ease;
  color: white;
}

.btn-portfolio {
  background-color: #7332af;
  color: white;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  margin: 18px;
  animation-duration: 1.66s;
  animation-name: slidein-to-left;
}

/* this button styling is specific to the about page, to otherwise keep the button slide in timings consistent */
.btn-contact-aboutpg {
    background-color: #7332af;
    color: white;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
    margin: 18px;
    animation-duration: 2.33s;
    animation-name: slidein-to-left;
}

.overlay {
  position: relative;
  margin: 28px 0px 0px 0px;
  width: 100%;
  text-align: center;
  background-color: #6821aa;
  border-radius: 2%;
}

.overlay-img {
  position: relative;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  height: 300px;
  width: 100%;
  border-radius: 2%;
}

.overlay-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border-radius: 2%;
}

.overlay:hover .overlay-text {
  opacity: 1;
}

.overlay:hover .overlay-img {
  opacity: 0.3;
}

.overlay:hover .overlay {
  opacity: 1;
}

.projects-row {
  margin-bottom: 50px;
}

.fab {
  color: #353434 !important;

  /* padding: 17px; */
  margin: 10px;

  /* border-radius: 50%; */
}

.fab:hover {
  transform-origin: center;
  transform: scale(1.3);
  transition: 0.5s ease;
  color: #7332af !important;
}

.fab-row {
  margin-top: 175px;
  margin-bottom: 50px;
}

.btn-email {
    background-color: #7332af;
    color: white;
}

