body {
  background: -webkit-linear-gradient(to bottom left, #c7aee4, #ececec, #c7aee4);
  background: linear-gradient(to bottom left, #c7aee4, #ececec, #c7aee4);
  display: flex;
  flex-direction: column;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #ececec;
}

/* .navbar {
    margin-bottom: 50px;
} */

.jumbotron {
    margin-top: 50px;
}

.nav-text {
    color: #ececec;
}

.nav-item {
    background-color: #7332af;
    border-radius: 5%;
    margin-left: 10px;
}

.navbar-toggler {
    background-color: #7332af;
}

.overlay {
  position: relative;
  margin: 28px 0px 0px 0px;
  width: 100%;
  text-align: center;
  background-color: #6821aa;
  border-radius: 2%;
}

.overlay-img {
  position: relative;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  height: 300px; 
  width: 100%;
  border-radius: 2%;
}

.overlay-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border-radius: 2%;
}

.overlay:hover .overlay-text {
    opacity: 1;
    /* border-radius: 50%; */
}

.overlay:hover .overlay-img {
    opacity: .3;
    /* border-radius: 50%; */
}

.overlay:hover .overlay {
    opacity: 1;
    /* border-radius: 50%; */
}

.projects-row {
    margin-bottom: 50px;
}

/* footer {
    text-align: center;
} */